$font-stack: Myriad Variable Concept, sans-serif;
$background-color: #fcfcfc;
$primary-color: #e03e37;
$secondary-color: #fea411;
$tertiary-color: #5ccce6;

@mixin respond-small {
  @media (max-width: 425px) {
    @content;
  }
}

@mixin respond-medium {
  @media (max-width: 768px) {
    @content;
  }
}

.main {
  background-color: $background-color;
  min-height: 100vh;
}

.salesBanner {
  background-color: $secondary-color;
  color: black;
  padding: 10px;
  text-align: center;
  font-family: $font-stack;
}

.mainBanner {
  display: flex;
  align-items: center;
  background-color: $primary-color;
  margin: 1vw 0 0 0;
  height: 8vh;
  justify-content: space-between;
}

.mainLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120%;
  aspect-ratio: 1/2;
}

.mainLogo {
  display: flex;
  object-fit: contain;
  height: 100%;
  width: auto;
  margin: 0 5px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  z-index: 10;
  @include respond-small() {
    align-self: flex-start;
  }
}

.bannerCategories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

  @include respond-medium() {
    display: none;
  }
}

.category {
  display: flex;
  align-items: center;
  color: white;
  font-size: clamp(01rem, 1.5vw, 1.5rem);
  cursor: pointer;
  height: 100%;
  padding: auto 0;
}

.bannerDropDownMenus {
  margin: 0 1vw;
}

.bannerDropDown {
  position: relative;
  background-color: #e03e37;
  height: 50vh;
  width: 60%;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
  margin: 0 1vw;
  width: 20px;
  height: auto;
  padding: auto 0;
  z-index: 10;

  @include respond-medium() {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    justify-content: center;
    color: white;
    font-size: clamp(01rem, 1.5vw, 1.5rem);
    cursor: pointer;
    height: 100%;
    padding: auto 10px;
    margin: 5px;
  }
}
.hamburgerMenuContainer {
  border: 1px solid white;
  margin: 0 10px;
  border-radius: 5px;
}

.hamburgerLine {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 3px 0;
  transition: all 0.3s ease-in-out;
}
.hamburgerClicked {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}
