.page {
  background: #e6e6e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  background-color: #fcfcfc;
  min-height: 100vh;
  width: 80vw;
}
@media (max-width: 425px) {
  .main {
    width: 100vw;
  }
}
@media (max-width: 768px) {
  .main {
    width: 100vw;
  }
}

.salesBanner {
  background-color: #fea411;
  color: black;
  padding: 10px;
  text-align: center;
  font-family: Myriad Variable Concept, sans-serif;
  width: 100vw;
}

.mainBanner {
  display: flex;
  align-items: center;
  background-color: #e03e37;
  margin: 0vw 0 0 0;
  height: 8vh;
  justify-content: space-between;
  width: 100vw;
}

.mainLogoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120%;
  aspect-ratio: 1/2;
}

.mainLogo {
  display: flex;
  object-fit: contain;
  height: 100%;
  width: auto;
  margin: 0 5px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  z-index: 10;
}
@media (max-width: 425px) {
  .mainLogo {
    align-self: flex-start;
  }
}

.bannerCategories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .bannerCategories {
    display: none;
  }
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
  cursor: pointer;
  height: 100%;
  padding: auto 0;
}

.bannerDropDownMenus {
  margin: 0 1vw;
}

.bannerDropDown {
  position: relative;
  background-color: #e03e37;
  height: 50vh;
  width: 60%;
}

.productsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3px;
}

.productCard {
  display: flex;
  flex-direction: column;
  margin: 5px 2px;
  align-items: center;
  max-width: 220px;
  text-align: center;
}

.productName {
  font-weight: bold;
  text-wrap: balance;
}

.productAddToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #e03e37;
}

.productAddToCart:hover {
  background-color: #e03e37;
  color: white;
  transition: all 0.3s ease-in-out;
}

.hamburgerMenu {
  display: none;
  cursor: pointer;
  margin: 0 1vw;
  width: 20px;
  height: auto;
  padding: auto 0;
  z-index: 10;
}
@media (max-width: 768px) {
  .hamburgerMenu {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    justify-content: center;
    color: white;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    cursor: pointer;
    height: 100%;
    padding: auto 10px;
    margin: 5px;
  }
}

.hamburgerMenuContainer {
  margin: 0 10px;
  border-radius: 5px;
}

.hamburgerLine {
  width: 100%;
  height: 2px;
  background-color: white;
  margin: 3px 0;
  transition: all 0.3s ease-in-out;
}

.hamburgerClicked {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

.cartIcon {
  margin: 0 5px;
}

.cartBadgeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 5px;
}

.cartBadge {
  position: relative;
  top: -10px;
  right: 10px;
  background: whitesmoke;
  width: 20px;
  height: 20px;
  size: 10px;
  color: black;
  text-align: center;
  border-radius: 50%;
}

.cartLayout {
  display: flex;
}

.cartItems,
.cartOrderBox {
  margin: 1vw;
  background-color: #fcfcfc;
}

.cartOrderBox {
  display: flex;
  flex-direction: row;
  width: 20vw;
}

.cartHeader {
  margin: 5px 5px;
  border-bottom: 1px solid #ddd;
}

.cartProduct {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cartProductName {
  font-weight: bold;
  text-wrap: balance;
  width: 90%;
}

.cartProductQuantity {
  align-items: center;
  width: 90%;
  font-size: 1rem;
}

.cartProductPrice {
  flex-grow: 1;
  text-align: right;
  font-weight: bold;
  text-wrap: balance;
}

.cartProductImageContainer {
  display: flex;
}

.cartProductDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  text-align: left;
}

.cartProductName {
  font-weight: bold;
  text-wrap: balance;
  width: 90%;
}

.cartProductQuantity {
  align-items: left;
}

.cartOrderBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.orderBoxSubtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
  text-align: center;
}

.orderBoxShippingDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  text-align: center;
}

.orderBoxCheckoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fea411;
  color: black;
  height: 3vw;
  width: 90%;
  padding: 2px;
  text-align: center;
  border-radius: 1.5vw;
  cursor: pointer;
}

/*# sourceMappingURL=output.module.css.map */
